<div id="<%= dom_id type %>">
  <p>
    <strong>
      <% if controller_name == "types" && action_name == "show" %>
        Pokémons that are the <%= type.name.capitalize %> type
      <% else %>
        <%= link_to type.name.capitalize, type %>
      <% end %>
    </strong>
  </p>

</div>
