<p style="color: green"><%= notice %></p>

<section class="hero is-info">

  <div class="hero-body">
    <h1 class="title">Types</h1>
  </div>

</section>

<div id="types">

  <ul>

    <% @types.each_with_index do |type, i| %>
      <li class=<%= "mb-1" unless i >= @types.length - 1 %>>
        <%= render type %>
      </li>
    <% end %>

  </ul>

</div>
