<p style="color: green"><%= notice %></p>

<section class="hero is-info">

  <div class="hero-body">
    <h1 class="title">Types</h1>
  </div>

</section>

<div id="types">
  <% @types.each do |type| %>
    <%= render type %>
  <% end %>
</div>
