<h1>Pokemon Dictionary</h1>
<div class="columns">

  <div class="column">
    <ul>
      <% @pokemons.each do |p| %>
        <li>
          <%= render partial: 'pokemons/pokemon', locals: {pokemon: p} %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <ul>
      <% @regions.each do |r| %>
        <li>
          <strong>
            <%= link_to r.name, r %>
          </strong>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <ul>
      <% @types.each do |t| %>
        <li>
          <strong>
            <%= link_to t.name, t %>
          </strong>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <ul>
      <% @abilities.each do |a| %>
        <li>
          <strong>
            <%= link_to a.name, a %>
          </strong>
        </li>
      <% end %>
    </ul>
  </div>

</div>
