<div id="<%= dom_id ability %>">
  <p>
    <strong>
      <% if controller_name == "abilities" && action_name == "show" %>
        Pokémons with <%= ability.name %>
      <% else %>
        <%= link_to ability.name, ability %>
      <% end %>
    </strong>
  </p>
</div>
