<p style="color: green"><%= notice %></p>

<section class="hero is-info">

  <div class="hero-body">
    <h1 class="title">Abilities</h1>
  </div>

</section>

<div id="abilities">
  <%= paginate @abilities %>
  <% @abilities.each do |ability| %>
    <%= render ability %>
  <% end %>
</div>
<div>
  <%= paginate @abilities %>
</div>
