<p style="color: green"><%= notice %></p>
<section class="hero is-info">
  <div class="hero-body">
    <h1 class="title">Pokémons</h1>
  </div>
</section>
<%= paginate @pokemons %>
<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %>
  <% end %>
</div>
<%= paginate @pokemons %>
