<div id="<%= dom_id region %>">
  <p>
    <strong>
      <% if controller_name == "regions" && action_name == "show" %>
        <section class="hero is-info">

          <div class="hero-body">
            <h1 class="title">Pokémons that come from <%= region.name %></h1>
          </div>

        </section>
      <% else %>
        <%= link_to region.name, region %>
      <% end %>
    </strong>
  </p>
  <p>
    <strong>Generation:</strong>
    <%= region.generation %>
  </p>
</div>
