<p style="color: green"><%= notice %></p>

<section class="hero is-info">

  <div class="hero-body">
    <h1 class="title">Regions</h1>
  </div>

</section>

<div id="regions">
  <% @regions.each do |region| %>
    <%= render region %>
  <% end %>
</div>
