<p style="color: green"><%= notice %></p>

<section class="hero is-info">

  <div class="hero-body">
    <h1 class="title">Regions</h1>
  </div>

</section>

<div id="regions">

  <ul>
    <% @regions.each_with_index do |region, i| %>
      <li class=<%= "mb-1" unless i >= @regions.length - 1 %>>
        <%= render region %>
      </li>
    <% end %>
  </ul>

</div>
