<nav class="navbar">

  <div class="navbar-menu">

    <%= form_with(url: search_pokemons_path, method: :get, local: true, class: "navbar-item") do %>
      <%= text_field_tag(:keywords, nil, placeholder: "Search for Pokémons", class: "input") %>
      <%= submit_tag("Search", class: "button") %>
    <% end %>

  </div>

  <div class="navbar-end">

    <%= render partial: "common/footer" %>

  </div>

</nav>